<div class="col-xs-12">
    <hr>
    <h1>
        {{list.departure }} -- > {{ list.arrival }}</h1>
    <ul class="list-group">
        <li class="list-group-item">City: A {{ list.city  }}</li>
        <li class="list-group-item">Street: A {{ list.street }}</li>
        <li class="list-group-item">Departure: {{ list.departure }}</li>
        <li class="list-group-item">Arrival: {{ list.arrival }}</li>
        <li class="list-group-item">City B: {{ list.cityTo }}</li>
        <li class="list-group-item">Street B: {{ list.streetTo }}</li>
        <li class="list-group-item">Price: {{ list.price }}</li>
        <li class="list-group-item">Objective: {{ list.objective }}</li>
        <li class="list-group-item">Type: {{ list.travelType }}</li>
      </ul>
</div>
