<hr>
<div class="row">
    <div class="col-xs-12">
        <a href="#"
         class="list-group-item clearfix" 
         *ngFor="let accomodation of accomodations">
            <div class="pull-left">
                <h4 class="list-group-item-heading">{{ accomodation.name }}</h4>
                <p>Time: {{ accomodation.time }}</p>
            </div>
            <span class="pull-right">
                <img
                 [src]="accomodation.img"
                 alt="{{ accomodation.name }}"
                 class="img-responsive"
                 style="max-height: 25px">
            </span>
        </a>
        <app-accomodation-edit></app-accomodation-edit>
    </div>
</div>